.nav-bar{
    // background-color: red;
    justify-content: center;
    text-align: center;
    &--title{
        // text-align: center;
        color: blue($color: #040404b8);
        background-color: rgba($color: #d2d3d5ec, $alpha: 1.0)
    }
}